<mat-card>
  <mat-card-header>
    <mat-card-title>Contrato</mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur euismod vulputate. Etiam lacinia
      vehicula nisl id accumsan. Donec condimentum tincidunt neque, at fermentum dui congue sit amet. Sed et cursus
      quam. Quisque pulvinar massa nec posuere lacinia. Nulla euismod in erat et vulputate. Curabitur lacinia, justo ac
      dignissim lacinia, purus risus tempus nunc, in rhoncus purus orci nec felis. Donec id odio sit amet risus luctus
      rhoncus. Aliquam feugiat sit amet urna sed sagittis. Nullam quam nibh, rutrum sed elit et, convallis hendrerit
      lacus. Vivamus ultricies magna sit amet sem sagittis, ac suscipit nulla gravida. Nunc quis consectetur tellus.
      Mauris interdum ante eget magna lobortis, in porttitor lorem pharetra. </p>
    <p> In lectus nunc, varius at ultricies id, vulputate tempor elit. Morbi viverra aliquet sem in blandit. Donec ut
      nibh ac justo elementum varius. Ut fermentum commodo diam tempor fermentum. Orci varius natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Pellentesque feugiat, sem vel bibendum ultricies, eros erat
      efficitur velit, et malesuada mi magna id nunc. Cras sollicitudin, justo ut lacinia iaculis, sapien massa
      dignissim turpis, eu pretium tellus turpis eu sem. Maecenas rhoncus sed tortor ut iaculis. Sed vitae sodales ex.
      Donec turpis mauris, dignissim in ante at, hendrerit eleifend augue. Cras lobortis malesuada rhoncus. Sed at purus
      varius, elementum magna vel, tristique velit. Ut mollis quis est eget lobortis. Donec sagittis purus in lectus
      aliquam, ac gravida dui varius. </p>
  </mat-card-content>
  <hr>
  <mat-card-actions class="component-action">
    <button mat-button color="primary" type="button">Cancel</button>
    <button mat-raised-button color="primary">
      <mat-icon>save</mat-icon> Add
    </button>
  </mat-card-actions>
</mat-card>