<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <span class="header-title">Contrato Manager<span class="blink">|</span></span>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/">
        <mat-icon>home</mat-icon> Home
      </a>
      <hr>
      <a mat-list-item routerLinkActive="active" routerLink="/contratos" matTooltip="Pesquisar contrato">
        <mat-icon>find_in_page</mat-icon> Contratos
      </a>
      <!-- <a mat-list-item routerLinkActive="active" routerLink="/contas">
        <mat-icon>ballot</mat-icon> Contas
      </a>
      <hr> -->
      <a mat-list-item routerLinkActive="active" routerLink="/novo-contrato" matTooltip="Cadastrar contrato">
        <mat-icon>note_add</mat-icon> Novo Contrato
      </a>
      <!-- <a mat-list-item routerLinkActive="active" routerLink="/">
        <mat-icon>local_atm</mat-icon> Nova Conta
      </a> -->
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>