<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <span class="header-title">Contrato Manager<span class="blink">|</span></span>  
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/">
          <mat-icon>home</mat-icon> Home
        </a>
      <a mat-list-item routerLinkActive="active" routerLink="/contrato">
        <mat-icon>library_books</mat-icon> Contratos
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/conta">
        <mat-icon>local_atm</mat-icon> Contas
      </a>
      <hr>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>