mat-button-toggle-group {
    place-content: center;
    width: 100%;

    mat-button-toggle {
        width: 100%;
    }
}

.inner-component {
    height: 180px;
    width: 100%;
    overflow-y: scroll;

    border-style: solid;
    border-width: .5px;
    border-color: gray;
}