<mat-card>
	<mat-card-header>
		<mat-card-title class="form-title">Contrato</mat-card-title>
	</mat-card-header>
	<hr>
	<mat-card-content [formGroup]="contratoForm" (ngSubmit)="submit()" fxLayout="column">
		<div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
			<mat-form-field fxFlex="20" class="form-field">
				<mat-label>Nº</mat-label>
				<input matInput placeholder="Número do Contrato" formControlName="numero">
			</mat-form-field>
			<mat-form-field fxFlex class="form-field">
				<mat-label>Empresa</mat-label>
				<mat-select formControlName="_id_empresa">
					<mat-option *ngFor="let item of empresas" [value]="item._id">
						{{item.nome_fantasia}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field fxFlex="20" class="form-field">
				<mat-label>Prestação</mat-label>
				<mat-select formControlName="prestacao">
					<mat-option *ngFor="let item of prestacao" [value]="item.value">
						{{item.label}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
			<mat-form-field fxFlex class="form-field">
				<mat-label>Tipo de Contrato</mat-label>
				<mat-select formControlName="tipo_contrato">
					<mat-option *ngFor="let item of tpContrato" [value]="item.value">
						{{item.label}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field fxFlex="15" class="form-field">
				<mat-label>Celebração</mat-label>
				<input matInput [matDatepicker]="dtCelebracao" formControlName="data_celebracao_contrato">
				<mat-datepicker-toggle matSuffix [for]="dtCelebracao"></mat-datepicker-toggle>
				<mat-datepicker #dtCelebracao></mat-datepicker>
			</mat-form-field>
			<mat-form-field fxFlex class="form-field">
				<mat-label>Status</mat-label>
				<mat-select formControlName="status_contrato">
					<mat-option *ngFor="let item of stContrato" [value]="item.value">
						{{item.label}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field fxFlex="15" class="form-field">
				<mat-label>Finalização</mat-label>
				<input matInput [matDatepicker]="dtFinalizacao" formControlName="data_finalizacao_contrato">
				<mat-datepicker-toggle matSuffix [for]="dtFinalizacao"></mat-datepicker-toggle>
				<mat-datepicker #dtFinalizacao></mat-datepicker>
			</mat-form-field>
			<mat-form-field fxFlex="15" class="form-field">
				<mat-label>Valor</mat-label>
				<input matInput placeholder="Valor do Contrato" formControlName="valor_contrato">
			</mat-form-field>
		</div>
		<div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
			<mat-form-field fxFlex class="form-field">
				<mat-label>Observações</mat-label>
				<textarea matInput placeholder="Observações" formControlName="observacoes_contrato"></textarea>
			</mat-form-field>
		</div>
		<div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
			<mat-card class="embedded-document">
				<mat-card-title class="form-title">Contas</mat-card-title>
				<mat-card-content fxLayout="column" class="inner-component">
					<app-conta *ngFor="let conta of contratoForm.value.contas" [conta]="conta"></app-conta>
				</mat-card-content>
			</mat-card>
			<mat-card  class="embedded-document">
				<mat-card-title class="form-title">Aditivos</mat-card-title>
				<mat-card-content fxLayout="column" class="inner-component">
					<app-aditivo *ngFor="let aditivo of contratoForm.value.aditivos" [aditivo]="aditivo"></app-aditivo>
				</mat-card-content>
			</mat-card>
		</div>

	</mat-card-content>
	<hr>
	<mat-card-actions fxLayout="row" fxLayoutGap="20px">
		<button mat-flat-button color="accent" type="button" (click)="addConta()">
			<mat-icon>add</mat-icon>Conta
		</button>
		<button mat-flat-button color="accent" type="button" (click)="addAditivo()">
			<mat-icon>add</mat-icon>Aditivo
		</button>
		<span fxFlex></span>
		<button mat-button color="primary" type="button" (click)="cancel()">Cancelar</button>
		<button mat-raised-button color="primary" type="button" (click)="submit()">
			<mat-icon>save</mat-icon> Salvar
		</button>
	</mat-card-actions>
</mat-card>