
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$contrato-manager-primary: mat-palette($mat-blue-grey, 900, 700, 900);
$contrato-manager-accent: mat-palette($mat-grey, 300, 100, 500);

// The warn palette is optional (defaults to red).
$contrato-manager-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$contrato-manager-theme: mat-light-theme($contrato-manager-primary, $contrato-manager-accent, $contrato-manager-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($contrato-manager-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-title {
    font-size: 20px;
    font-weight: bold;
}

.form-field {
    mat-label {
        color: grey;
        font-size: 12px;
    }
}

// copied
.header {
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index:1000;    
    justify-content:space-between;
}

.header-title {
    font-family: 'Courier New', Courier, monospace;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

.user-profile{
    margin-left:15px;
}
 .mat-sidenav-container{
    height: calc(100% - 64px);
    display:flex;
    flex:1 1 auto;
}
 .mat-nav-list .mat-list-item{
    font-size:15px;
}
 .nav-tool-items{
    display:inline-block;
    margin-right:13px;
}
 .user-profile{
    margin-left:15px;
    cursor:pointer;
}
 .hamburger{
    visibility:hidden !important;
}
 .mat-sidenav,.mat-sidenav-content{
    padding:15px;
    width: 100%;
    height: 100%;
}
 .mat-list-item.active{
    background:rgba(0, 0, 0, .04);
}
 .mat-sidenav-content{
    padding:25px 40px 0;
}
 .mat-sidenav{
    background-color:#F2F2F2;
    width:250px;
}

 mat-sidenav mat-icon{
    margin-right:12px;
}
 .hamburger{
    margin-top:5px;
    cursor:pointer;
}
 .mat-radio-button,.mat-radio-group{
    margin-right:25px;
}
 .controlers-wrapper>*{
    width:100%;
    padding:0;
}
 .misc-bottom-padding{
    margin:8px 0 10px;
}
 .misc-bottom-padding mat-label{
    margin-right:15px;
}
 mat-radio-group mat-radio-button{
    margin-left:5px;
}
 .button-wrapper button{
    margin-right:5px;
}
 table.mat-table,table{
    width:100%;
}
 .inner-wrapper{
    padding:15px 0 130px;
    width:100%;
}
 .inner-wrapper mat-card{
    display:inline-block;
    margin:0 6% 0 0;
    vertical-align:top;
    width:44%;
}
 .full-wrapper{
    width:100%;
}
 .multiple-items{
    position:relative;
}
 .multiple-items .tooltip-info{
    right:0;
    top:7px;
    cursor:pointer;
    color:#efefef;
    position:absolute;
    font-size:20px;
}
 body .push-right{
    margin-right:10px;
}
 .no-data{
    text-align:center;
    padding-top:30px;
    color:#bdbdbd;
}
 .button-wrapper{
    margin:20px 0 0 0;
}
 @media (max-width:1024px){
    .inner-wrapper mat-card{
        width:100%;
    }
     .mat-sidenav-content{
        padding:20px 20px 0;
    }
     .misc-bottom-padding mat-label{
        display:block;
        padding-bottom:10px;
    }
     .mat-sidenav{
        width:230px;
    }
     .mat-nav-list .mat-list-item{
        font-size:14px;
    }
}
 @media (max-width:767px){
    .nav-tool-items{
        margin-right:0;
    }
     .hamburger{
        visibility:visible !important;
    }
}
